body {
    margin: 0;
    padding: 0;
}

.header {
    background-color:#00704A;
    padding: 5px 0;
    text-align: center;
}

.delivery-banner p {
    color: white;
    margin: 0;
    font-family:'SodoR';
}

.navbar-list {
    color: #00704A;
    font-family:'Sodo';
}

.image-container {
    text-align: center;
    padding-bottom: 20px;
}

.image-container img {
    display: block;
    margin: 0 auto;
    width: 200px;
}